.entreprise {
    color: fuchsia;
}

.colonne1 {
    float: left;
    background: #00BFFF;
    width: 70%;
    height: auto;
}

.colonne2 {
    float: right;
    background: #4682B4;
    height: 612px;
    width:30%
}

h1 {
    text-align: center;
}

.espace {
    margin: 20px;
}

h2 {
    margin: 20px;
}

h3 {
    margin: 20px;
}

h4 {
    margin: 20px;
}


@media screen and (max-width: 640px) {
    .colonne2{
    float: none;
    width: 100%;
    }
    .colonne1{
        float: none;
        width: 100%;
    }
  }